*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(14, 119, 240);
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;


}
.box{
    width: 200px;
    height: 200px;
    background-color:white;
    border-radius: 20rem;
}

h1 {
color: rgb(14, 119, 240);
font-size: 13.5rem;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}

h2{
color: white;
font-size: 5rem;
text-align: center;
}
